@media (max-width: 800px) {
    
    .content {    
        flex-direction: column;
        width: 23.4375rem;    
        height: 50.75rem;
    }

    .result {    
        justify-content: space-evenly;
        flex-basis: 40%;
    } 
    
    
    .summary {
        flex-basis: 60%;
    } 
    
    footer {
        display: none;
    }

    .circle {
        margin: 0;
        width: 9rem;  
        height: 9rem;
    }
    
    .circle-title {
        font-size: 3.5em;
    }
    p {
        font-size: 1rem;
    }
}

@media (max-width: 375px) {
    .content { 
        border-radius: 0; 
        width: 100%;  
    }
    .result {    
        border-radius: 0 0 2rem 2rem;
    } 

}