
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body{       
    font-family: 'Hanken Grotesk', sans-serif; 
    background-color: hsl(221, 100%, 96%);
    display: flex;
    justify-content: center;
    align-items: center;
}

li { 
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.75rem;
    width: 18rem;
    height: 3.4375em;
    font-weight: 700;
    list-style: circle inside;
}

.values-status-valor {     
    color: hsla(224, 30%, 27%, 0.3);} 
.values-status { 
    color: hsl(224, 30%, 27%);
    float: right;
} 


li:nth-child(1) {    
    background-color: hsla(0, 100%, 67%, 0.05);
    list-style-image: url(/src/images/icon-reaction.svg);
    color: hsla(0, 100%, 67%, 0.75);
}

li:nth-child(2){
    background-color: hsla(39, 100%, 56%, 0.05);
    list-style-image: url(/src/images/icon-memory.svg);
    color: hsla(39, 100%, 56%, 0.75);
}

li:nth-child(3){
    background-color:hsla(166, 100%, 37%, 0.05);
    list-style-image: url(/src/images/icon-verbal.svg);
    color: hsla(166, 100%, 37%, 0.75);
}

li:nth-child(4){    
    background-color: hsla(234, 85%, 45%, 0.05);
    list-style-image: url(/src/images/icon-visual.svg);
    color: hsla(234, 85%, 45%, 0.75);
}


h1 {
    color: hsl(0, 0%, 100%);
    margin-bottom: 1.05rem;
}

p {
    font-size: 1.125rem;
}
.content {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 46rem;    
    height: 31.875rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2rem;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 31.875rem;
    width: 23rem;    
    border-radius: 2rem;
    border: none;   
} 

.title-summary{
    align-self: self-start;
    margin-left: 2.5rem;
}

.result {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);
    height: 31.875rem;
    width: 23rem;
    border-radius: 2rem;
    border: none;
    color: hsl(241, 100%, 89%)
} 

.result-text {
    padding: 0 3.75rem;
    text-align: center;
    line-height: 1.25;
    margin-bottom: 1rem;
}


.circle {
    display: flex;
    background-color: hsla(241, 81%, 54%, 0.3);
    margin: 1.875rem;
    width: 12.5rem;  
    height: 12.5rem;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.circle-title {
    font-size: 4.5em;
    color: hsl(0, 0%, 100%);
}

button {
    width: 18rem;
    height: 3.4375em;
    background-color:hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    border-radius: 2rem;
    border: none;
}
button:active {
background: linear-gradient(180deg, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);
}

footer{
    position: absolute;
    padding-bottom: 2em;
    bottom: 0;
    left: 0;
    right: 0;
}

.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%);}


